@charset "UTF-8";

.*{
	font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
}

.intro-bg {
  background-color: #FFFAEE;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  top: 5px;
  left: 5px;
  position: fixed;
  z-index: 10;
}

.header{
  width:1280px;
  margin:auto;
  display:flex;
  height: 120px;
}

.logo {
	width: 10%;
	height: 130px;	
	justify-content: flex-start;
}

.logo #logoa{
	margin: 0 auto;
}

.title {
	width: 90%;
	height: 130px;
	justify-content: flex-end;
}

.nav{
  display: flex;
  justify-content: flex-end;
  width:calc(1280px - 150px);
  line-height: 86px;
}

.nav > li {
  width: 80px;
  height: 80px;
  
  margin-left:84px;
  list-style: none;


}

.nav > li > a {
  color: #black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a:hover,
a:focus {
	cursor: pointer;
}

a:visited {
	color: black;
}

.immg{
	margin: 0 auto;
	margin-top: 170px;
	width: 90%;
	height: 350px;
	background-color:#FFFFFF; 
	border-radius: 10px;

}

.immg img{
	margin-left: 30%;
	width: 500px;
	height: 350px;

}

.line {
  border-top: 2px solid #FFFAEE;
  margin: 30px 150px;
  width: 80%
  
}

.line1{
	margin: 30px 0px;
}

.mid{
	margin: 10px auto;
	width: 100%;
	height: 213.5px;
	background: 0% 0% no-repeat padding-box;
}

.tab_content{
	margin: 0 auto;
	width: 80%;
	height: 100%;
	background: 0% 0% no-repeat padding-box;
}

/* 슬라이더 */
.slider {
    width: 49%;                                 
    overflow: hidden;
    position: relative;
    float: left;
    background-color: #FFFAEE;
    border: thin solid black;
    border-radius: 10px;
    z-index: 0;
}
.slide {
    float: left;
    width: 100%;
    position: relative;
}
.slider > table {
    width: 100%;
    height: auto;                                                 
}

/* 슬라이더 */

.slider table{
	width: 100%;
	height: 100%;
}

.slider #timg{
	width:100px;
	height: 100px;
}

.slider textarea{
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px #1E90FF;
	border-radius: 5px;
	font-size: 16px;
	resize: both;
	background-color: #FFFAEE;
}

.qna{
	float: right;
	width: 49%;
	height: 100%;
	left: 20px;
	top: 50px;
	background-color: #FFFAEE; 
	border: thin solid black;
	border-radius: 10px;
}

.text1{
	margin:0 auto;
	width: 90%;
	height: 200px;
	background-color: #FFFAEE; 
	border-radius: 10px;
}
.text1 > h1{
	padding-top: 50px;
	text-align: center;
}

.text1 > .text2 {
	text-align: center;
}

/* main_text0 */

.main_text0{
  width: 100%;
  height:600px;
  margin-top:-100px;

}

.main_text0 > h1{
  padding-top:116px;
  text-align: center;
}

.main_text0 > .contents1 {
  text-align: center;
}

.icons{
  display: flex;
  width:80%;
  height: 300px;
 /*  background: orange;  */
  margin:auto;
}
.icons > li {
  flex: 1;
  background: white;
  border-radius: 10px;
  margin-top:49px;
  height:300px;
  text-align: center;
  list-style: none;
}

.icons > li > .icon_img{
 	margin-top:18px;
}

.icons > li:not(:last-child){
  margin-right: 20px;
}

.icons .contents2 {
  width:280px;
  margin:auto;
  letter-spacing: -1px;
}

.contents1_bold{
	font-weight: bold;
	margin-bottom: 1px;
}

.where{
	margin-left: 800px;
	width: 600px;
	height: 300px;

}

.here{
	float: left;
	margin-right: 5px;
	width: 500px;
	height: 100%;

	list-style: none;
}

.here #i {
	font-size:20PX;
	font-weight: bold;
}

.here li {
	align: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
}
.mapp{
	width: 500px;
	height: 150px;
	float: left;
	margin-bottom: 20px;
}

.mapp img{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 500px;
	height: 150px;
	border-radius: 10px;
 	box-shadow: 3px 3px 3px 3px #555555;
}

.footer{
  display: flex;
  background: #1f1f1f;
  padding:30px;
  border-radius: 10px;
}
.footer > div:first-child {
  flex:3;
  text-align: center;
  color: #fff;
}
.footer #info {
  flex:9;
  color: #fff;
}
.footer .sns{
	float: right;
	
}

.wrapper{
	background-color: #E7D7B2;
}

