@charset "UTF-8";

.*{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin:0px;
	padding: 0px;
	overflow:scroll;
}

.wrapper{
	background-color: #E7D7B2;
}

.line {
  border-top: 2px solid #6E6654;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom:5px;
  width: 100%
  
}

.line1{
	margin: 30px 0px;
}

.intro-bg {
  background-color: #FFFAEE;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  top: 5px;
  left: 5px;
  position: fixed;
  z-index: 10;
}

.header{
  width:1280px;
  margin:auto;
  display:flex;
  height: 120px;
}

.logo {
	width: 10%;
	height: 130px;	
	justify-content: flex-start;
}

.logo #logoa{
	margin: 0 auto;
}

.title {
	width: 90%;
	height: 130px;
	justify-content: flex-end;
}

.nav{
  display: flex;
  justify-content: flex-end;
  width:calc(1280px - 150px);
  line-height: 86px;
}

.nav > li {
  width: 80px;
  height: 80px;
  
  margin-left:84px;
  list-style: none;


}

.nav > li > a {
  color: #black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a:hover,
a:focus {
	cursor: pointer;
}

a:visited {
	color: black;
}

.content{
	margin: 0 auto;
	margin-top: 170px;
	margin-bottom: 20px;
	width: 90%;
	height: auto;
	background-color:#FFFAEE; 
	border-radius: 10px;
}

.r_bt{
	margin-top: 10px;
	width: 250px;
	height: 50px;
	float: right;
	text-align: center;
}

.bt{
	display: inline-block;
	min-height:50px; 
    min-width: 100px;
	border-radius: 10px;
	border: thin solid black; 
	box-shadow: 0px 0px 1px 1px #555555;
	background-color: #E7D7B2;
	cursor:pointer;
	font-weight: bold;
}

.bt:active {
	background-color: #ffbf00;
}

.bt:hover {
	background-color: #ffbf00;
}

.list{
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	width: 59.5%;
	height: 100%;
	text-align: center;
}

.rrr{
	display: inline-block;
	width: 100%;
    height: auto;
	border-radius: 10px;
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
	border-top: thin solid black;
}

.rrr > caption{
	background-color: #E7D7B2;
	border-radius: 10px;
}

.rrr img{
	border-radius: 5px;
}

.rrr #c{
	width: 654px;
}

.rrr > textarea{
	width: 100%;
	height: auto;
}

.rrr #reviewContents{
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 20px;
	resize: both;
	background-color: #FFFAEE;
	font-weight: 700;
	color: black;
}

.rrr #n{
	padding-left: 10px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.rrr #d{
	padding-right: 10px;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

.footer{
  display: flex;
  background: #1f1f1f;
  padding:30px;
  border-radius: 10px;
 
}
.footer > div:first-child {
  flex:3;
  text-align: center;
  color: #fff;
}
.footer #info {
  flex:9;
  color: #fff;
}
.footer .sns{
	float: right;
	
}

/* 수정 버튼 */

.btn2{
    min-width: 20px;
	min-height:10px; 
	border-radius: 5px;
	border: thin solid black; 
	box-shadow: 0px 0px 0px 0px #555555;
	background-color: #E7D7B2;
	cursor:pointer;
	font-weight: bold;
}

.btn2:active {
	background-color: #ffbf00;
}

.btn2:hover {
	background-color: #ffbf00;
}

/* 파일 첨부 버튼 */

.btn3 label {
    display: inline-block;
	padding: 3px 3px;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #E7D7B2;
	cursor: pointer;
	border: thin solid black;
	border-radius: 1px;

}

.btn3 input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}



